#escudo{
    width: 90px;
    height: 90px;
}
#navbar{
    background-color: rgb(32, 32, 177);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;
}
.noticia{
    
}